.about-content {
	text-align: justify;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	padding-bottom: 10%;
}

.about-text-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 30px;
}

.profile-img-div {
	display: flex;
	justify-content: center;
	width: 100%;
}

.profile-img-div img {
	width: 350px;
	height: 350px;
}

@media screen and (max-width: 600px) {
	.profile-img-div img {
		width: 200px;
		height: 200px;
	}
}