.divider {
	position: relative;
	margin-top: 10px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(182, 182, 182), transparent);
}