.work-card {
	padding: 20px 30px;
	border: 1px dashed #ccc;
	border-radius: 10px;
	width: 50%;
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.company-name {
	font-weight: 700;
	font-size: 2.5rem;
	margin: 0;
}

.work-dates {
	/* margin-left: 30px; */
}

.job-title {
	margin-top: 10px;
}