.skill-head {
	text-align: right;
}

/* .skill-bar {
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.12) !important;
} */

.skill-section {
	padding-bottom: 5%;
}

.skill-bar.MuiAppBar-colorPrimary {
	color: black !important;
	background-color: #eeeeee !important;
}

.MuiTab-wrapper {
	font-family: 'Comfortaa', cursive !important;
}