@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}